# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
*.log

# Editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
